* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  width: 100%;
  padding: 20px 0;
  height: calc(100vh);
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 50%;
  display: flex;
  border: 2px solid hsl(217, 16%, 45%);
  padding: 15px;
  border-radius: 10px;
  justify-content: space-between;
}

.score-card {
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
  align-items: center;
  padding: 10px 0;
  color: hsl(229, 25%, 31%);
}

.score-card p {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 100;
}

.score-card span {
  font-size: 48px;
}

main {
  height: 80vh;
  width: 100%;
  position: relative;
}

.start,
.game {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start.hidden,
.game.hidden {
  opacity: 0;
  pointer-events: none;
}

.option {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: beige;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
}

.option:nth-child(1) {
  top: 10%;
  left: 37%;
}

.option:nth-child(2) {
  right: 37%;
  top: 10%;
}

.option:nth-child(3) {
  bottom: 13%;
  left: 50%;
  transform: translate(-50%, -20%);
}

.paper {
  box-shadow: hsl(230, 89%, 65%) 0px 0px 0px 13px inset,
    0px 7px hsl(230, 89%, 62%);
}

.scissors {
  box-shadow: hsl(40, 84%, 53%) 0px 0px 0px 13px inset,
    0px 7px hsl(39, 89%, 49%);
}

.rock {
  box-shadow: hsl(349, 70%, 56%) 0px 0px 0px 15px inset,
    0px 7px hsl(349, 71%, 52%);
}

.rules-btn {
  text-transform: uppercase;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  position: relative;
  padding: 5px 20px;
  display: inline-block;
  align-self: flex-end;
  margin-right: 20px;
  cursor: pointer;
}

.game {
  flex-direction: column;
  justify-content: start;
}

.players {
  /* padding: 0px 3% 0px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 100px; */
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; */
  /* width: 44%; */
}

.players h3 {
  margin: 60px 0;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1.5px;
}

.game-options {
  min-width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.opt {
  background-color: #fff;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.opt.scissors {
  box-shadow: hsl(40, 84%, 53%) 0px 0px 0px 25px inset,
    0px 7px hsl(39, 89%, 49%);
}

.opt.paper {
  box-shadow: hsl(230, 89%, 65%) 0px 0px 0px 25px inset,
    0px 7px hsl(230, 89%, 62%);
}

.opt.rock {
  box-shadow: hsl(349, 70%, 56%) 0px 0px 0px 25px inset,
    0px 7px hsl(349, 71%, 52%);
}

.opt img {
  width: 40%;
}

.comp-opt {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0.3);
}

.info {
  width: 170px;
  margin: 150px 40px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}

.info p {
  text-align: center;
  font-size: 42px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 10px;
}

.info button {
  width: 100%;
  background-color: #fff;
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: hsl(229, 25%, 31%);
  transition: color 0.5s ease-in;
}

.info button.hover {
  color: hsl(349, 70%, 56%);
}

/* CSS FOR THE OVERLAY SECTION  */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.overlay.hidden {
  opacity: 0;
  pointer-events: none;
}

.rules-div {
  width: 26%;
  height: 60%;
  background-color: #fff;
  border-radius: 10px;
  padding: 5px 2%;
}

.rules-div-header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.rules-div-header h1 {
  text-transform: uppercase;
  font-size: 24px;
}

.close {
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  header {
    width: 85%;
    display: flex;
    border: 2px solid hsl(217, 16%, 45%);
    padding: 15px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
  }

  .score-card {
    width: 25%;
    height: 100%;
    padding: 10px 0;
  }

  .score-card p {
    font-size: 14px;
  }

  .score-card span {
    font-size: 32px;
    font-weight: 700;
  }

  .logo {
    width: 35%;
    height: 80%;
  }

  .triangle {
    width: 60%;
  }

  .option {
    width: 130px;
    height: 130px;
  }

  .option:nth-child(1) {
    top: 15%;
    left: 10%;
  }

  .option:nth-child(2) {
    right: 10%;
    top: 15%;
  }

  .option:nth-child(3) {
    bottom: 13%;
    left: 50%;
    transform: translate(-50%, -20%);
  }

  .rules-btn {
    border-radius: 10px;
    padding: 10px 20px;
    align-self: center;
    margin-right: 0;
    font-size: 18px;
  }

  .game {
    margin-top: 20%;
    align-items: center;
    /* justify-content: center; */
  }

  .game-options {
    width: 80%;
    align-items: flex-start;
  }

  .players {
    flex-direction: column-reverse;
  }

  .opt {
    background-color: #fff;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .opt.paper {
    box-shadow: hsl(230, 89%, 65%) 0px 0px 0px 13px inset,
      0px 3px hsl(230, 89%, 62%);
  }

  .opt.scissors {
    box-shadow: hsl(40, 84%, 53%) 0px 0px 0px 13px inset,
      0px 3px hsl(39, 89%, 49%);
  }

  .opt.rock {
    box-shadow: hsl(349, 70%, 56%) 0px 0px 0px 13px inset,
      0px 3px hsl(349, 71%, 52%);
  }

  .comp-opt {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .players h3 {
    margin: 30px 0;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1.5px;
    font-size: 16px;
  }

  .info {
    width: 50%;
    left: 28%;
    transform: translateX(-28%);
    bottom: 30%;
    display: none;
    position: absolute;
  }

  .info p {
    font-size: 42px;
    font-weight: 700;
  }

  .info button {
    padding: 13px 0;
    font-size: 16px;
  }

  .rules-div {
    /* width: 100%;
    height: 100%;
    padding: 0; */
  }

  .rules-div-header {
    /* width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px; */
    display: none;
  }

  .close {
    position: absolute;
  }
}
